@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
      font-family: "Roboto", sans-serif;

}
.e{
    color: brown;
    background-color: lightsalmon;

}
    p{
        font-family: segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
a{
    color: blue;
    text-decoration: none;
}
.green{
    background-color: green(30, 128, 0) ;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


